@import "tailwindcss";

body {
  background: linear-gradient(to bottom right, #ffe2f1, #ffffd8, #ffe2f1);
  min-height: 100vh;
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

